asn1crypto==1.5.1
attrs==23.1.0
bandit==1.7.4
boto3==1.26.59
botocore==1.29.59
ccy==i.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
coverage==7.1.0
cramjam==2.6.2
cryptography==41.0.2
distlib==0.3.7
dparse==0.6.3
filelock==3.12.2
flake8==6.0.0
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.30
idna==3.4
iniconfig==2.0.0
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.3
mccabe==0.7.0
moto==4.1.1
numpy==1.25.1
packaging==21.3
pandas==2.0.3
pbr==5.11.1
pg8000==1.29.8
platformdirs==3.9.1
pluggy==1.2.0
ply==3.11
pyarrow==12.0.1
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
pyparsing==3.0.9
pytest==7.2.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.31.0
responses==0.23.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
safety==2.3.5
scramp==1.4.4
six==1.16.0
smmap==5.0.0
stevedore==5.1.0
thriftpy2==0.4.16
types-PyYAML==6.0.12.11
tzdata==2023.3
urllib3==1.26.16
virtualenv==20.24.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
Werkzeug==2.3.6
xmltodict==0.13.0
